# ── Node ────────────────────
node_modules/
dist/
.DS_Store

# ── Python ──────────────────
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# ── Project Specific ────────
endee-data/
backend/uploads/
backend_log.txt
